<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <table>
        <thead style=" 
        background: #2f73c1 ;color: white;">
            <tr>
                <th style=" padding: 6px 12px;
                display: table-cell">Id</th>
                <th style=" padding: 6px 12px;
                display: table-cell">Name</th>
                <th style=" padding: 6px 12px;
                display: table-cell">Note</th>
                <th style=" padding: 6px 12px;
                display: table-cell">Phone</th>
                <th style=" padding: 6px 12px;
                display: table-cell">Status</th>
                <th style=" padding: 6px 12px;
                display: table-cell">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: aliceblue;">
                <td style=" padding: 6px 12px;
                display: table-cell">1</td>
                <td style=" padding: 6px 12px;
                display: table-cell">2</td>
                <td style=" padding: 6px 12px;
                display: table-cell">3</td>
                <td style=" padding: 6px 12px;
                display: table-cell">6</td>
                <td style=" padding: 6px 12px;
                display: table-cell">5</td>
                <td style=" padding: 6px 12px;
                display: table-cell">6</td>
            </tr>
        </tbody>
    </table>

</body>

</html>